# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Submarine.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Fork\Submarine\.idea\.idea.Submarine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
